<!DOCTYPE html>
<html>

<head>
    <title>Favourate-BestMovies</title>
    <link rel="stylesheet" href="../../static/webhfive/news/lib/weui.min.css">
    <link rel="stylesheet" href="../../static/webhfive/news/css/jquery-weui.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/common.css" />
    <link rel="stylesheet" type="text/css" href="../../static/iconfont/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../static/webhfive/news/css/bootstrap.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"></link>

    <link rel="stylesheet" href="../frontpage/frontpage.css" />
    <link rel="stylesheet" href="favouriteList.css"> </head>

<body ontouchstart>
    <div class="page__bd" id="app">
        <!-- head -->

        <div class="header">
            <div class="left_header">
                <div class="logo_container">
                    <h1 class="title"><a href="javascript:window.history.go(-1)">Best<span>Movies</span></a></h1>
                </div>

                <ul class="navigation">
                    <a>
                        <li v-if="!isLogin" @click="clickLoginBTN">Login</li>
                        <li v-if="isLogin">{{username}}</li>
                    </a>
                    <a>
                        <li v-if="!isLogin" @click="clickSignUp ">SignUp</li>
                        <li v-if="isLogin" @click="clickFavourite">Favourite List</li>
                    </a>
                </ul>
            </div>

        </div>
        <div class="boxContainer">
            <table class="elementContainer">
                <tr>
                    <td>
                        <input v-model="searchText" type="text" placeholder="Search" class="search">
                    </td>
                    <td>
                        <a href="#" @click="clickSearchBTN"><i class="material-icons">search</i></a>
                    </td>
                </tr>
            </table>
        </div>


        <!-- recommend movies -->
        <div class="favouriteContainer">
            <h1>Favourite List</h1>

            <ul>
                <li v-for="item ,index in favouriteList" @click="clickGetMovieDetail(item.id)">
                    <span class="number">{{index+1}}</span>
                    <span class="name">{{item.title}}</span>
                    <span class="points">{{item.year}}</span>
                    <span class="badge"> Rating: {{item.rating}}</span>
                    <span class="close" @click.stop="deleteFav(item.id)"> 
                        <i class="fas fa-times"></i>
                    </div></span>
                </li>

            </ul>
        </div>



        <div class="weui-footer">
            <p class="weui-footer__links">
                <a href="https://www.imdb.com/?ref_=nv_home" class="weui-footer__link">IMDB</a>
                <a href="https://www.via.dk/" class="weui-footer__link">VIA</a>
            </p>
            <p class="weui-footer__text">Copyright © 2021-2022</p>
        </div>
    </div>
</body>

</html>
<script src="../../static/js/all.min.js" crossorigin="anonymous"></script>
<script src="../../static/js/echarts.min.js"></script>
<script src="../../static/js/jquery-2.1.4.js"></script>
<script src="../../static/webhfive/news/js/jquery-weui.js "></script>
<script src="../../static/js/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="../../static/js/network.js"></script>

<script>
    var data = {
        clickLogin: false,
        clickSignup: false,
        isLogin: true,
        userId: '',
        password: '',
        username: '',
        searchText: '',
        img: "https://imdb-api.com/images/original/MV5BODcxMzY3ODY1NF5BMl5BanBnXkFtZTgwNzg1NDY4MTE@._V1_Ratio0.6791_AL_.jpg",

        favouriteList: [
            //     {
            //     "id": 4679576,
            //     "title": "Bloodhound",
            //     "year": 2020,
            //     "rating": 4
            // }, {
            //     "id": 3380766,
            //     "title": "King's Gambit",
            //     "year": 2000,
            //     "rating": 4
            // }, {
            //     "id": 3278540,
            //     "title": "A Nice Girl Like You",
            //     "year": 2002,
            //     "rating": 4
            // }, {
            //     "id": 65005,
            //     "title": "Oso yparhei erotas",
            //     "year": 2019,
            //     "rating": 5
            // }
        ]


    }
    var vue = new Vue({
        el: "#app",
        data: data,
        mounted: function() {
            this.getSearchText();
            this.getTopList()
        },
        methods: {
            clickLoginBTN() {
                this.clickSignup = false;
                this.clickLogin = true;
            },
            clickSignUp() {
                this.clickLogin = false;
                this.clickSignup = true;
            },
            clickCloseBTN() {
                this.clickLogin = false;
                this.clickSignup = false
            },
            clickSearchBTN() {
                let url = "../searchResult/searchResult.html?" + "SearchMovie=" + this.searchText;
                location.href = url;
            },
            clickFavourite(userId) {
                let url = "../favouriteList/favouriteList.html?" + "userid=" + this.userId;
                location.href = url;
            },
            clickGetMovieDetail(id) {
                let url = "../movieDetail/detailpage.html?" + "MovieId=" + id;
                location.href = url;
            },
            deleteFav(id) {
                _this = this
                console.log(this.isLogin, this.userId)
                if (this.isLogin == true && this.userId != "") {
                    param = {
                        "username": _this.userId,
                        "movieId": id
                    }
                    getCloudSearch("removeMovieFromTopList", 'POST', param, function(res) {
                        console.log("register res", res)
                            // _this.names = res
                        if (res.requestIsSucceed) {
                            $.toptip('Remove success', 'success');
                            _this.favouriteList = res.results;
                            this.getTopList()
                        } else {
                            $.toptip('Remove failed' + res.aresponseMessage, 'warn');
                        }
                    })
                }
            },

            getSearchText() {
                var url = location.search;
                var params = url.substr(1);
                var pa = params.split("&");
                var s = new Object();
                console.log(location)
                for (var i = 0; i < pa.length; i++) {
                    s[pa[i].split("=")[0]] = unescape(pa[i].split("=")[1]);
                }
                this.userId = s.userid;
                console.log(this.userId)

            },
            getTopList() {
                _this = this
                console.log(this.isLogin, this.userId)
                if (this.isLogin == true && this.userId != "") {

                    param = {
                        "username": this.userId,
                    }
                    getCloudSearch("getMovieTopList", 'POST', param, function(res) {
                        console.log("register res", res)
                            // _this.names = res
                        if (res.requestIsSucceed) {
                            // $.toptip('Rate success', 'success');
                            _this.favouriteList = res.results;
                        } else {
                            $.toptip('Rate failed' + res.aresponseMessage, 'warn');
                        }
                    })
                }
            },


            //Echart
            chart_movieRate() {
                var load_lief = document.getElementById("chart_movieRate");
                var myChart = echarts.init(load_lief);
                var datalist = this.movieRateList
                var colors = ['#83ad23', '#09ab93'];
                option = {
                    xAxis: {
                        type: 'category',
                        data: datalist.year
                    },
                    color: colors,
                    legend: {
                        data: ['Rate', 'Number']
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross'
                        }
                    },
                    grid: {
                        // 间距是 根据x、y轴计算的；假如都是0，x、y轴的label汉字就隐藏掉了。
                        top: 50, // 默认60
                        left: 50,
                        right: 50,
                        bottom: 24, // 默认60
                    },
                    yAxis: {
                        name: 'Average Rate',
                        axisLine: {
                            show: true,
                        },
                        axisLabel: {
                            formatter: '{value}'
                        }
                    },
                    series: [{
                        name: "Average Rate",
                        data: datalist.rate,
                        type: 'line',
                        smooth: true
                    }]
                };
                myChart.setOption(option);
            },

        }
    });
</script>