* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


/* header start */

.header {
    background-color: #424242;
    width: 100%;
    height: 80px;
    display: block;
}

.left_header {
    display: block;
    width: 100%;
    height: 100%;
}

.logo_container {
    display: table;
    float: left;
}

.left_header h1 {
    font-family: Smooch;
    color: white;
}

.left_header span {
    font-weight: bolder;
    color: bisque;
}

.inner_header {
    width: 60%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    color: aliceblue;
    font-family: 'Smooch', cursive;
}

.row {
    display: flex;
}

.title {
    top: 10%
}

.boxContainer {
    margin: auto;
    margin-top: 10px;
    position: relative;
    width: 300px;
    height: 42px;
    border: 4px solid #424242;
    padding: 0px 10px;
    border-radius: 50px;
}

.elementContainer {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.search {
    border: none;
    width: 100%;
    height: 20px;
    padding: 5px;
    border-radius: 50px;
    color: #424242;
    font-size: 24px;
}

.search:focus {
    outline: none;
}

.material-icons {
    font-size: 36;
    color: #424242;
}


/* header end */


/* recommend movies start*/

section h1 {
    font-family: 'Smooch', cursive;
    font-size: 40px;
    text-align: center;
}

.recommendMovieRow {
    margin: 1%;
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16%;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin: 0 auto;
    margin-left: 7%;
}

.recommentMovieContainer {
    width: 120px;
    margin: 5px;
    margin: 0 auto;
}

.recommentMovieContainer img {
    width: 120px;
    margin: 0 auto;
    flex: auto;
    text-align: center;
}

.recommentMovieContainer h3 {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.recommentMovieContainer h4 {
    text-align: center;
    font-size: 20px;
}


/* recommend movies end*/


/* movie analysis */

.row {
    width: 100%;
}

#chart_movieRate {
    width: 50%;
    height: 300px;
    padding: 20px 0 20px 40px;
    /* background-color: aqua; */
}

#chart_movieCount {
    width: 50%;
    height: 300px;
    padding: 20px;
    background-color: blanchedalmond;
}


/* movie analysis end*/

.weui-footer {
    margin: 0;
    background-color: #424242;
    /* height: 10px; */
}

.weui-footer__text {
    margin: 0;
}