/*=============================================================================================================
 *      									移动端通用样式
 =============================================================================================================*/

/* 适配rem */
html {
    font-size : 20px;
}
/* @media only screen and (min-width: 401px){
    html {
        font-size: 25px !important;
    }
} */
/* @media only screen and (min-width: 428px){
    html {
        font-size: 26.75px !important;
    }
} */
@media only screen and (min-width: 481px){
    html {
        font-size: 25px !important; 
    }
}
/* @media only screen and (min-width: 569px){
    html {
        font-size: 35px !important; 
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 40px !important; 
    }
} */
*{
	margin: 0;
	padding: 0;
	font-size: 1em;
	color: #333;
	font-family: "微软雅黑";
	list-style: none;
	text-decoration: none;
}
body {	
	width: 100%;    
	background-color:#f8f8f8;
}
/*清楚浮动样式*/
.clear_float:after{
    content:".";
    clear:both;
    display:block;
    height:0;
    overflow:hidden;
    visibility:hidden;
}
/* 弹性盒子布局 */
.flex-row {
	display: flex;
	display: -webkit-flex;
	flex-direction:row;
	align-items:center;
}
.flex-col {
	display: flex;
	display: -webkit-flex;
	flex-direction:column;
}
/* 加载层的字体颜色 */
.weui-toast_content{
	color:#fff
}
/*下拉刷新*/
.weui-pull-to-refresh__layer {
    margin-top: -13.5%;
    padding-bottom: 0;
    margin-bottom: -2%;
}
.weui-pull-to-refresh{
	width: 100%;
}
/*日期不可选color*/
.picker-calendar-day.picker-calendar-day-disabled span{
	color: #d4d4d4;
    cursor: auto;
}

/*公共样式*/

.box{display:-webkit-box;display:-moz-box;display:box;}
._item{-moz-box-flex:1;-webkit-box-flex:1;box-flex:1;width: 100%;}
.item3{-moz-box-flex:3;-webkit-box-flex:3;box-flex:3;width: 100%;}
.f1{-moz-box-flex:1;-webkit-box-flex:1;box-flex:1;width:0;}
.f2{-moz-box-flex:2;-webkit-box-flex:2;box-flex:2;width:0;}
.f3{-moz-box-flex:3;-webkit-box-flex:3;box-flex:3;width:0;}
.f4{-moz-box-flex:4;-webkit-box-flex:4;box-flex:4;width:0;}
.ver{-moz-box-orient:vertical;-webkit-box-orient:vertical;box-orient:vertical;}
.text-left{-moz-box-pack:start;-webkit-box-pack:start;box-pack:start;text-align:left}
.text-right{-moz-box-pack:end;-webkit-box-pack:end;box-pack:end;text-align:right}
.text-center{-moz-box-pack:center;-webkit-box-pack:center;box-pack:center;text-align:center}
.ver-center{-moz-box-align:center;-webkit-box-align:center;box-align:center;}
.ver-end{-moz-box-align:end;-webkit-box-align:end;box-align:end;}
.position_absolute{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	max-height: 100%;
}