/*=============================================================================================================
 *      									移动端头部样式
 =============================================================================================================*/
.demos-header{
	background-color: #00b08a;
    padding: 0.3em 0;
    overflow: hidden;
    height: 2rem;
    box-sizing: border-box;
/*     border:1px solid #eee; */
}
.demos-title {
	font-size: 0.8rem;
    line-height: 2;
    color: #fff;
/*     margin-top:-0.1rem; */
	/* font-weight:bold; */
}
.weui-cell__ft1:after {
	content: " ";
    display: inline-block;
    height: 0.6em;
    width: 0.6em;
    border-width: 0 0 1px 1px;
    border-color: #fff;
    border-style: solid;
    -webkit-transform: matrix(.71,.71,-.71,.71,0,0);
    transform: matrix(.71,.71,-.71,.71,0,0);
    position: relative;
    position: absolute;
    top: 12px;
}
.back {
	height: 1em;
    width: 0.5em;
	display: block;
    float: left;
   	margin-top: -0.5%;
}
@media only screen and (min-width: 360px){
    .back {
        margin-top: -0.5%;
    }
}
@media only screen and (min-width: 481px){
    .back {
        margin-top: 0.6%;
    }
}
.weui-cell_access:active{
	background-color: transparent;
}

/* 时间插件 */
.weui-dialog__btn{
	color: #00b08a !important;
}
.toolbar .picker-button{
	color: #00b08a !important;
}
.picker-calendar-day.picker-calendar-day-selected span{
	background: #00b08a !important;
}
i.icon.icon-prev{
    background-image:url("data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2015%2015'><g><path%20fill%3D'%2300b08a'%20d%3D'M14%2C1.6v11.8L2.2%2C7.6L14%2C1.6%20M15%2C0L0%2C7.6L15%2C15V0L15%2C0z'%2F><%2Fg><%2Fsvg>") !important;
}
i.icon.icon-next{
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2015%2015'%3E%3Cg%3E%3Cpath%20fill%3D'%2300b08a'%20d%3D'M1%2C1.6l11.8%2C5.8L1%2C13.4V1.6%20M0%2C0v15l15-7.6L0%2C0L0%2C0z'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") !important;
}
.weui-dialog .weui-dialog__btn.default, .weui-toast .weui-dialog__btn.default{
	color: #5f646e  !important;
}