
*{
   margin: 0;
   padding: 0;
   color: #333;
   font-family: "微软雅黑";
   list-style: none;
   text-decoration: none;
}
body {  
    width: 100%;    
    background-color:#f8f8f8;
}
 * { 
 	touch-action: pan-y; 
 } 
.contents{
	background: #fff;
    position: relative;
    margin-top: 0.4rem;
}
.risk-list{
	overflow-y:auto;
}
.risk .risk_{
	border-top: 1px solid #eee;
}
.risk .title_down_left{
    display: flex;
    font-size: 0.6rem;
    justify-content: space-between;
    padding-top: 3%;
}
.risk .risk_cont{
    padding-right: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
}
.risk .risk_content{
    display: flex;
    padding-left: 0.48rem;
    padding-right: 0.48rem;
}
.risk .lable{
    border-radius: 0 0 25px 25px;
    height: 2.6rem;
    width: 1.5rem !important;
    text-align: center;
    line-height: 1.2;
    font-size: 0.7rem;
    padding-top: 2%;
}
.risk .result{
    width: 1rem;
    margin: 0 auto;
    color:#fffeff;
    font-size: 0.65rem;
}
.risk .zxz{
    background-color:#5cb9f4;
}
.risk .yzx{
	background-color:#50c8af;
}
.risk .wzx{
	background-color:#c2c2c2;
}
.time_select{
	display: flex;
    background: #fff;
    border-bottom: 1px solid #eee;
    justify-content: space-between;
    width: 100%;
}
.back_ {
    position: absolute;
    top: 25%;
    right: 4%;
}
.header_cont_right{
    position: relative;
    border-bottom: 1px solid #dddddd;
}
.rili{
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    background: url('./../img/ts.png') no-repeat center center;
}
.weui-infinite-scroll{
	display:none;
}
.zhi{
/*     text-align:center; */
    padding: 10px 0;
}
.title_down_middle span,.title_sf{
	color:#999;
}
.weui-toast_content{
	color:#fff
}
.demos-header{
	margin-top: 0;
}
.risk .titile{
	font-size: 0.7rem;
}
.rili_font{
	font-size: 0.8rem;
	color:#333;
}
.start_years{
    text-align: center;
}
.end_years{
    text-align: center;
}
.dwe_cell{
	position: absolute;
}
.dwe_cell1{
    left: 49%;
}
#start_years{
    text-align: center;
}
#end_years{
    text-align: center;
}




.weui-cell:before{
	z-index:0;
}
.time_select .weui-cell{
	padding: 6px 0;
}
.time_select .zhi{
	font-size:0.7rem;
}


/*详情*/
.riskWarn_details{
    background: #f8f8f8;
    position:absolute;
	top:0;
	right:0;
	width:0;
/* 	overflow: hidden; */
}
.riskWarn_details .cont{
    padding-left: 0.48rem;
    padding-right: 0.48rem;
    padding-bottom: 0.48rem;
}
.riskWarn_details .demos-header{
	border-bottom: 1px solid #ddd;
}
.riskWarn_details .title{
    padding-top: 0.4rem;
    font-size: 0.7rem;
    padding-bottom: 0.2rem;
    text-align: center;
}
.riskWarn_details .riq_bh{
    display: flex;
    font-size: 0.48rem;
    align-items: center;
    padding-bottom: 0.4rem;
    justify-content: space-around;
}
.riskWarn_details .riq_bh div{
    color: #999;
}
.public_back{
	display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 0.5rem 0.6rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    align-items: center;
}
.public_back{
	display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 0 0.48rem;
    border-radius: 5px;
    margin-bottom: 0.4rem;
    align-items: center;
    border: 1px solid #ebebeb;
    height: 1.78rem;
    line-height: 1.8rem;
    font-size: 0.7rem;
    padding-top: 2px;
}
.close{
    display: inline-block;
    height: 0.6rem;
    width: 0.6rem;
    background: url(./../img/close.png) no-repeat center center;
    background-size: contain;
}
.open{
    display: inline-block;
    height: 0.6rem;
    width: 0.6rem;
    background: url(./../img/open.png) no-repeat center center;
    background-size: contain;
}
.toggle_part{
    border-radius: 5px;
    border: 1px solid #eee;
    margin-bottom: 0.5rem;
}
.toggle_title{
   	margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 0 0.48rem;
    align-items: center;
    border-radius: 5px 5px 0 0;
    height: 1.78rem;
    line-height: 1.8rem;
    font-size: 0.7rem;
    padding-top: 2px;
}
.toggle_cont{
    background: #fff;
    padding: 0.4rem 0.48rem;
    color: #666;
    border-radius: 0 0 5px 5px;
    font-size: 0.6rem;
    border-top: 1px solid #eee;
}
.toggle_time{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.toggle_time div{
	color: #7d7d7d;
}
.toggle_cont .title{
    padding-top: 0.5rem;
}
.parts{
	padding-top:0;
}
.parts .title{
	text-align: left;
	padding-bottom: 0;
}
.toggle_cont .title_cont div{
	color: #7d7d7d;
}
.toggle_cont .only{
	color: #7d7d7d;
}
.only_cont{
	padding-top: 0;
	padding-bottom: 0;
}
.only_cont>div{
    padding-bottom: 0.5rem;
}
.only_cont>div:not(:last-child){
    border-bottom: 1px solid #ebebeb;
}
.last_time{
	font-size: 0.6rem;
    color: #999;
    padding-top: 0.1rem;
}
.tog_cont{
	padding-right:0;
	padding-left:0;
}
.radius{
	border-radius: 0 0 5px 5px;
}
.radius1{
	border-radius: 5px;
}
.tog_cont>div{
	padding-right:0.6rem;
	margin-left:0.6rem;
}