<!DOCTYPE html>
<html>

<head>
    <title>电网频率分析</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description"
        content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.">
    <link rel="stylesheet" href="../../static/webhfive/news/lib/weui.min.css">
    <link rel="stylesheet" href="../../static/webhfive/news/css/jquery-weui.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/common.css" />
    <link rel="stylesheet" type="text/css" href="../../static/iconfont/iconfont.css" />
    <link rel="stylesheet" href="../../static/webhfive/news/main/css/demos.css">
    <link rel="stylesheet" href="../../static/webhfive/eleStatistical/css/common.css">
    <link rel="stylesheet" href="../../static/webhfive/eleStatistical/css/header.css">
    <link rel="stylesheet" type="text/css" href="../../static/webhfive/Tasktodo/css/Tasktodo.css" />
    <link rel="stylesheet" type="text/css" href="grid.css" />
    <link rel="stylesheet" href="../../static/webhfive/eleStatistical/css/eleStatistical.css">
    <style type="text/css">
        .lo {
            height: 1em;
            width: 2.5em;
            display: block;
            float: right;
            margin-top: -8%;

        }

        .ce {
            color: #fff;
            font-size: 16px;
        }
    </style>
</head>

<body ontouchstart>
    <div class="position_absolute  box ver">
        <header class="demos-header">
            <a href="index.html" class="weui-cell weui-cell_access back">
                <span class="weui-cell__ft1"></span>
            </a>
            <h1 class="demos-title">电网频率分析</h1>
        </header>
        <div class="page__bd" id="app">
            <div class="weui-row el_rili">
                <div class="weui-col-100">
                    <div class="weui-cells cell_head weui-cells_form">
                        <div class="weui-cell flex-row">
                            <div class="weui-cell__bd ri_li">
                                <input class="weui-input" id="date2" type="text" value="">
                                <!--           <span class="rilis_"></span> -->
                            </div>
                            <div class="kj flex-row">
                                <p class="proDay">前一天</p>
                                <p class="afDay">后一天</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- <div class="weui-panel weui-panel_access">
                <div class="ass_ti">
                    <p class="ass_title">发受用增长率</p>
                </div>
                <div class="weui-panel__bd">
                    <p class="ass_cont">
                        全省调度发受电量为 <span> {{ fsyzzl.fasdl }} </span> 万千瓦时，同比增长
                        <span>{{ fsyzzl.tbfasdl }} %</span>;
                        调度电量为 <span>{{ fsyzzl.dddl }}</span> 万千瓦时，同比增长 <span>{{ fsyzzl.tbdddl }}
                            %</span>;
                        调度发电量为 <span>{{ fsyzzl.ddfdl }}</span> 万千瓦时，同比增长 <span>{{ fsyzzl.tbddfdl }}
                            %</span>;
                    </p>
                </div>
            </div> -->
            <div class="weui-panel weui-panel_access">
                <div class="ass_ti">
                    <p class="ass_title">日频率曲线</p>
                </div>
                <div class="weui-panel__bd">
                    <p class="ass_cont">
                        <div id="load_lief" style="height: 300px;width: 100%;"></div>
                    </p>
                </div>
            </div>
            <div class="weui-panel weui-panel_access">
                <div class="ass_ti">
                    <p class="ass_title">合格率展示</p>
                </div>
                <div class="weui-panel__bd">
                    <p class="ass_cont">
                        <div class="ass_load_json" v-for="(index, key) in hgl.heldui" key="key">
                            <div class="ass_load_json_ti">
                                <span>{{ index.name }}</span>
                            </div>
                            <div class="ass_load_json_cont">
                                <span> {{ index.value }} </span>%
                            </div>
                        </div>
                        <div id="load_ras" style="height: 300px;width: 100%;"></div>
                    </p>
                </div>
            </div>
            <div class="weui-panel weui-panel_access">
                <div class="ass_ti">
                    <p class="ass_title">合格率分布</p>
                </div>
                <div class="weui-panel__bd">
                    <p class="ass_cont">
                        <div id="load_lineH" style="height: 300px;width: 100%;"></div>
                    </p>
                </div>
            </div>
            <div class="weui-panel weui-panel_access">
                <div class="ass_ti">
                    <p class="ass_title">合格率监视</p>
                </div>
                <div class="weui-panel__bd">
                    <p class="ass_cont">
                        <div class="ass_load_json" v-for="(index, key) in hgldx.hgldxList" key="key">
                            <div class="ass_load_json_ti">
                                <span>{{ index.name }}</span>
                            </div>
                            <div class="ass_load_json_cont ass_load_json_cent">
                                <div>
                                    合格率<span> {{ index.value }} % </span>
                                </div>
                                <div>
                                    扰动<span style="color: #759bcc;"> {{ index.num }} </span>次
                                </div>
                            </div>
                        </div>
                        <div id="load_lieBars" style="height: 300px;width: 100%;"></div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="../../static/webhfive/lib/echarts/echarts.min.js"></script>
    <script src="../../static/webhfive/news/lib/jquery-2.1.4.js"></script>
    <script src="../../static/iconfont/iconfont.js"></script>
    <script src="../../static/webhfive/news/js/jquery-weui.js"></script>
    <script src="../vue/vue.min.js"></script>
    <script src="../vue/eleStatistical.js"></script>
    <script src="../../static/webhfive/eleStatistical/js/dist/js/city-picker.min.js"></script>
    <script src="../../static/webhfive/eleStatistical/js/dist/lib/fastclick.js"></script>
    <script>
        var data = {
            rpjdw: {
                xData: [
                    "00:00", "01:00", "02:00", "03:00", "04:00", "05:00", "06:00", "07:00", "08:00",
                    "09:00", "10:00",
                    "11:00", "12:00", "13:00", "14:00", "15:00", "16:00", "17:00", "18:00", "19:00",
                    "20:00", "21:00", "22:00", "23:00"
                ],
                data1: ["59", "56", "12", "44", "44", "44", "44", "44", "88", "56",
                    "59", "56", "12", "44", "44", "44", "146", "46", "46", "46",
                    "59", "56", "12", "44",
                ],
            },
            hgl: {
                heldui: [{
                    name: '高峰合格率',
                    value: 77
                }, {
                    name: '腰荷合格率',
                    value: 86
                }, {
                    name: '低谷合格率',
                    value: 68
                }],
                ras: {
                    rasIn: [{
                            name: '1:00'
                        },
                        {
                            name: '2:00'
                        },
                        {
                            name: '3:00'
                        },
                        {
                            name: '4:00'
                        },
                        {
                            name: '5:00'
                        },
                        {
                            name: '6:00'
                        },
                        {
                            name: '7:00'
                        },
                        {
                            name: '8:00'
                        },
                        {
                            name: '9:00'
                        },
                        {
                            name: '10:00'
                        },
                        {
                            name: '11:00'
                        },
                        {
                            name: '12:00'
                        },
                        {
                            name: '13:00'
                        },
                        {
                            name: '14:00'
                        },
                        {
                            name: '15:00'
                        },
                        {
                            name: '16:00'
                        },
                        {
                            name: '17:00'
                        },
                        {
                            name: '18:00'
                        },
                        {
                            name: '19:00'
                        },
                        {
                            name: '20:00'
                        },
                        {
                            name: '21:00'
                        },
                        {
                            name: '22:00'
                        },
                        {
                            name: '23:00'
                        },
                        {
                            name: '24:00'
                        }
                    ],
                    data: ["5632", "1233", "4456", "4456", "4456", "4456", "4456", "4456", "4456",
                        "5929", "5632", "1233", "4456", "4456", "4456", "4456", "4456", "4456", "4456",
                        "5929", "5632", "1233", "4456",
                    ]
                }
            },
            hglpy: {
                xData: ["49.7", "49.75", "49.8", "49.85", "49.9", "49.95", "50", "50.05", "50.10", "50.15",
                    "50.20", "50.25", "50.3"
                ],
                data: ["30", "20", "10", "50", "12", "50", "50", "50", "50", "50", "50", "50", "50"]
            },
            hgldx: {
                hgldxList: [{
                        name: "火电",
                        value: "79.58",
                        num: "89"
                    },
                    {
                        name: "水电",
                        value: "80.58",
                        num: "99"
                    },
                    {
                        name: "燃气",
                        value: "79.58",
                        num: "79"
                    },
                ],
                hgldcharts:{
                    xData:["2015","2016","2017","2018","2019"],
                    data1:["320", "332", "301", "334", "390"],
                    data2:["120", "332", "301", "334", "390"],
                    data3:["320", "332", "301", "334", "390"],
                    data4:["220", "332", "301", "334", "390"],
                }
            },
            AgcList: {
                "xData": ['系统下旋备用', '系统上旋备用', 'AGC下调节备用', 'AGC上调节备用'],
                "data1": ["18203", "23489", "29034", "104970"],
                "data2": ["19325", "23438", "31000", "121594"],
            },
            plyx: {
                dwpl: {
                    "zg": "50",
                    "zd": "49.9"
                },
                zbcz: {
                    "ta": "19",
                    "time": "10499"
                },
                xlcz: {
                    "ta": "1",
                    "time": "1"
                },
                zydmyx: {
                    "ci": "2",
                    "time": "188"
                }
            },
            dyhg: {
                "dyhgl": "99.96",
                "fdz": "19",
                "fdzl": "171.11",
                "bdz": "8",
                "bdzl": "-14.29",
            },
            sdtd: {
                pie: [{
                    name: '输电通道',
                    value: 29
                }, {
                    name: '主变',
                    value: 44
                }, {
                    name: '机组',
                    value: 89
                }],
                fdText: {
                    "lyxss": "4532",
                    "lyxsstb": "88",
                    "qjlyxs": "3399",
                    "qjlyxsjs": "273",
                    "hd": "5014",
                    "hdzj": "0"
                }
            },
            cll: {
                "zdcl": "631",
                "fdl": "6767",
                "xnyfdl": "134",
                "fdfdl": "86",
                "gffdl": "46",
                fdList: [{
                    "name": "光电",
                    "value": "49",
                    "state": "0"
                }, {
                    "name": "光伏",
                    "value": "89",
                    "state": "1"
                }, {
                    "name": "水电",
                    "value": "19",
                    "state": "0"
                }, {
                    "name": "核电",
                    "value": "9",
                    "state": "1"
                }, {
                    "name": "风电",
                    "value": "0",
                    "state": "1"
                }]
            },
            xnycl: {
                xData: [
                    "00:00", "01:00", "02:00", "03:00", "04:00", "05:00", "06:00", "07:00", "08:00",
                    "09:00", "10:00",
                    "11:00", "12:00", "13:00", "14:00", "15:00", "16:00", "17:00", "18:00", "19:00",
                    "20:00", "21:00", "22:00", "23:00"
                ],
                data1: ["592", "532", "133", "446", "56", "56", "456", "456", "445", "456",
                    "592", "563", "133", "456", "446", "456", "45", "446", "456", "456",
                    "592", "563", "123", "46",
                ],
                data2: ["592", "532", "133", "432", "456", "456", "456", "456", "445", "456",
                    "592", "563", "133", "456", "446", "456", "445", "46", "45", "456",
                    "592", "563", "123", "446",
                ],
                data3: ["592", "532", "133", "46", "456", "456", "456", "456", "44", "456",
                    "592", "563", "133", "456", "446", "456", "445", "446", "456", "456",
                    "592", "563", "123", "46",
                ],
            },
            czl: {
                xData: ['白班', "夜班", "中班"],
                data1: [115.0, 114.9, 7.0],
                data2: [15.0, 10, 3.3],
            },
            jxjh: {
                "drjx": "51",
                "drjxn": "4888",
                "drjxtb": "-5.1",
                "drcz": "899",
                "drczn": "109929",
                "drcztb": "-9",
            }
        }
        var vue = new Vue({
            el: "#app",
            data: data,
            mounted: function () {
                this.loadLief()
                this.loadLieH()
                this.loadLieBars()
                this.loadRas()
                this.loadBar()
            },
            methods: {
                loadLief() {
                    var load_lief = document.getElementById("load_lief");
                    var myChart = echarts.init(load_lief);
                    var datalist = this.rpjdw
                    var colors = ['#83ad23'];
                    option = {
                        xAxis: {
                            type: 'category',
                            data: datalist.xData
                        },
                        color: colors,
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross'
                            }
                        },
                        grid: {
                            // 间距是 根据x、y轴计算的；假如都是0，x、y轴的label汉字就隐藏掉了。
                            top: 50, // 默认60
                            left: 50,
                            right: 50,
                            bottom: 24, // 默认60
                        },
                        yAxis: {
                            name: 'HZ',
                            axisLine: {
                                show: true,
                            },
                            axisLabel: {
                                formatter: '{value}'
                            }
                        },
                        series: [{
                            name: "当日",
                            data: datalist.data1,
                            type: 'line',
                            smooth: true,
                            markPoint: {
                                data: [{
                                        type: 'max',
                                        name: '最大值'
                                    },
                                    {
                                        type: 'min',
                                        name: '最小值'
                                    }
                                ]
                            },
                        }]
                    };
                    myChart.setOption(option);
                },
                loadLieH() {
                    var load_lineH = document.getElementById("load_lineH");
                    var myChart = echarts.init(load_lineH);
                    var datalist = this.hglpy
                    var colors = ['#83ad23'];
                    option = {
                        xAxis: {
                            name: 'HZ',
                            axisLine: {
                                show: true,
                            },
                            type: 'category',
                            data: datalist.xData
                        },
                        color: colors,
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross'
                            }
                        },
                        grid: {
                            // 间距是 根据x、y轴计算的；假如都是0，x、y轴的label汉字就隐藏掉了。
                            top: 50, // 默认60
                            left: 50,
                            right: 50,
                            bottom: 24, // 默认60
                        },
                        yAxis: {
                            name: '%',
                            axisLine: {
                                show: true,
                            },
                            max: 100,
                            axisLabel: {
                                formatter: '{value}'
                            }
                        },
                        series: [{
                            name: "合格率",
                            data: datalist.data,
                            type: 'line',
                            smooth: true,
                        }]
                    };
                    myChart.setOption(option);
                },
                loadRas() {
                    var load_ras = document.getElementById("load_ras");
                    var myChart = echarts.init(load_ras);
                    var dataList = this.hgl.ras;
                    option = {
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross'
                            }
                        },
                        grid: {
                            // 间距是 根据x、y轴计算的；假如都是0，x、y轴的label汉字就隐藏掉了。
                            top: 50, // 默认60
                            left: 50,
                            right: 50,
                            bottom: 24, // 默认60
                        },
                        radar: {
                            name: {
                                textStyle: {
                                    color: '#000',
                                }
                            },
                            indicator: dataList.rasIn
                        },
                        series: [{
                            type: 'radar',
                            data: [{
                                value: dataList.data,
                                areaStyle: {
                                    opacity: 0.9,
                                    color: new echarts.graphic.RadialGradient(0.5, 0.5, 1,
                                        [{
                                                color: '#B8D3E4',
                                                offset: 0
                                            },
                                            {
                                                color: '#72ACD1',
                                                offset: 1
                                            }
                                        ])
                                }
                            }]
                        }]
                    };
                    myChart.setOption(option);
                },
                loadBar() {
                    var load_bar = document.getElementById("load_bar");
                    var myChart = echarts.init(load_bar);
                    var dataList = this.AgcList
                    option = {
                        title: {
                            text: '系统备用情况',
                            x: 'center'
                        },
                        grid: {
                            // 间距是 根据x、y轴计算的；假如都是0，x、y轴的label汉字就隐藏掉了。
                            top: 40, // 默认60
                            left: 100,
                            right: 50,
                            bottom: 24, // 默认60
                        },
                        xAxis: {
                            type: 'value',
                            boundaryGap: [0, 0.01],
                            show: false,
                        },
                        yAxis: {
                            type: 'category',
                            data: dataList.xData
                        },
                        series: [{
                                name: '2011年',
                                type: 'bar',
                                itemStyle: {
                                    normal: {
                                        barBorderRadius: 30,
                                        color: '#3cc51f'
                                    },
                                },
                                label: {
                                    show: true,
                                    position: 'right',
                                },
                                data: dataList.data1
                            },
                            {
                                name: '2012年',
                                type: 'bar',
                                label: {
                                    show: true,
                                    position: 'right',
                                },
                                itemStyle: {
                                    normal: {
                                        barBorderRadius: 30,
                                        color: 'rgba(24,31,68,.7)',
                                    },
                                },
                                data: dataList.data2
                            }
                        ]
                    };
                    myChart.setOption(option);
                },
                loadLieBars() {
                    var load_lieBars = document.getElementById("load_lieBars");
                    var myChart = echarts.init(load_lieBars);
                    var colors = ['#6bcfad', '#09ad94', '#006b63', '#feae03'];
                    var data = this.hgldx.hgldcharts;
                    console.log(data)
                    option = {
                        color: colors,
                        legend: {
                            data: ['扰动次数', '扰动合格次数', '扰动优秀次数', '合格率']
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross'
                            }
                        },
                        grid: {
                            // 间距是 根据x、y轴计算的；假如都是0，x、y轴的label汉字就隐藏掉了。
                            top: 50, // 默认60
                            left: 50,
                            right: 50,
                            bottom: 24, // 默认60
                        },
                        xAxis: [{
                            type: 'category',
                            data: data.xData
                        }],
                        yAxis: [{
                                type: 'value',
                                name: '次',
                                position: 'left',
                            },
                            {
                                type: 'value',
                                name: '%',
                                position: 'right',
                            }
                        ],
                        series: [{
                                name: '扰动次数',
                                type: 'bar',
                                data: data.data1
                            },
                            {
                                name: '扰动合格次数',
                                type: 'bar',
                                data: data.data2
                            },
                            {
                                name: '扰动优秀次数',
                                type: 'bar',
                                data: data.data3
                            },
                            {
                                name: '合格率',
                                type: 'line',
                                yAxisIndex: 1,
                                data: data.data4
                            }
                        ]
                    };
                    myChart.setOption(option);
                }
            }
        });
    </script>
</body>

</html>