<!DOCTYPE html>
<html>

<head>
    <title>后评估总体概况</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description"
        content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.">
    <link rel="stylesheet" href="../../static/webhfive/news/lib/weui.min.css">
    <link rel="stylesheet" href="../../static/webhfive/news/css/jquery-weui.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/common.css" />
    <link rel="stylesheet" type="text/css" href="../../static/iconfont/iconfont.css" />
    <link rel="stylesheet" href="../../static/webhfive/news/main/css/demos.css">
    <link rel="stylesheet" href="../../static/webhfive/eleStatistical/css/common.css">
    <link rel="stylesheet" href="../../static/webhfive/eleStatistical/css/header.css">
    <link rel="stylesheet" type="text/css" href="../../static/webhfive/Tasktodo/css/Tasktodo.css" />
    <link rel="stylesheet" type="text/css" href="asslist.css" />
    <link rel="stylesheet" href="../../static/webhfive/eleStatistical/css/eleStatistical.css">
    <style type="text/css">
        .lo {
            height: 1em;
            width: 2.5em;
            display: block;
            float: right;
            margin-top: -8%;

        }

        .ce {
            color: #fff;
            font-size: 16px;
        }
    </style>
</head>

<body ontouchstart>
    <div class="position_absolute  box ver">
        <header class="demos-header">
            <a href="index.html" class="weui-cell weui-cell_access back">
                <span class="weui-cell__ft1"></span>
            </a>
            <h1 class="demos-title">后评估总体概况</h1>
        </header>
        <div class="page__bd" id="app">
            <div class="weui-row el_rili">
                <div class="weui-col-100">
                    <div class="weui-cells cell_head weui-cells_form">
                        <div class="weui-cell flex-row">
                            <div class="weui-cell__bd ri_li">
                                <input class="weui-input" id="date2" type="text" value="">
                                <!--           <span class="rilis_"></span> -->
                            </div>
                            <div class="kj flex-row">
                                <p class="proDay">前一天</p>
                                <p class="afDay">后一天</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="weui-panel weui-panel_access">
                <div class="ass_ti">
                    <p class="ass_title">发受用增长率</p>
                </div>
                <div class="weui-panel__bd">
                    <p class="ass_cont">
                        全省调度发受电量为 <span> {{ fsyzzl.fasdl }} </span> 万千瓦时，同比增长
                        <span>{{ fsyzzl.tbfasdl }} %</span>;
                        调度电量为 <span>{{ fsyzzl.dddl }}</span> 万千瓦时，同比增长 <span>{{ fsyzzl.tbdddl }}
                            %</span>;
                        调度发电量为 <span>{{ fsyzzl.ddfdl }}</span> 万千瓦时，同比增长 <span>{{ fsyzzl.tbddfdl }}
                            %</span>;
                    </p>
                </div>
            </div>
            <div class="weui-panel weui-panel_access">
                <div class="ass_ti">
                    <p class="ass_title">统调负荷曲线</p>
                </div>
                <div class="weui-panel__bd">
                    <p class="ass_cont">
                        <div id="load_lief" style="height: 300px;width: 100%;"></div>
                        <p class="ass_load_text">
                            全省最高调度发受负荷 <span>{{ tdfhqx.tdfhqxtu.zgfsfh }}</span>(
                            <span>{{ tdfhqx.tdfhqxtu.zgfsfhtime }}</span> ) 万千瓦时，同比增长
                            <span>{{ tdfhqx.tdfhqxtu.tbzgfsfh }}%</span>;
                            全省最低调度发受负荷 <span>{{ tdfhqx.tdfhqxtu.zdfsfh }}</span>(
                            <span>{{ tdfhqx.tdfhqxtu.zdfsfhtime }}</span> ) 万千瓦时，同比增长
                            <span>{{ tdfhqx.tdfhqxtu.tbzdfsfh }}%</span>;
                        </p>
                    </p>
                </div>
            </div>
            <div class="weui-panel weui-panel_access">
                <div class="ass_ti">
                    <p class="ass_title">裕度排名展示</p>
                </div>
                <div class="weui-panel__bd">
                    <p class="ass_cont">
                        <p class="ass_load_text">
                            全省各分区平均裕度 <span>{{ ydpm.pjyd }}</span> 万千瓦，
                            最高分区裕度 <span>{{ ydpm.zg }}</span> 万千瓦，
                            最小分区裕度 <span>{{ ydpm.zd }}</span> 万千瓦。
                        </p>
                        <div style="padding: 0px 20px;">
                            <div style="text-align: center;">
                                <span>最小裕度分区排名TOP5</span>
                            </div>
                            <div class="weui-cells" style="font-size: 14px;">
                                <div class="weui-cell" v-for="(index, key) in ydpm.top5" key="key">
                                    <div class="weui-cell__bd">
                                        <p>{{ index.name }}</p>
                                    </div>
                                    <div class="weui-cell__ft">{{ index.value }} 万千瓦</div>
                                </div>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
            <div class="weui-panel weui-panel_access">
                <div class="ass_ti">
                    <p class="ass_title">AGC展示</p>
                </div>
                <div class="weui-panel__bd">
                    <p class="ass_cont">
                        <div id="load_bar" style="height: 300px;width: 100%;"></div>
                    </p>
                </div>
            </div>
            <div class="weui-panel weui-panel_access">
                <div class="ass_ti">
                    <p class="ass_title">频率越限展示</p>
                </div>
                <div class="weui-panel__bd">
                    <p class="ass_cont">
                        <div class="ass_load_json">
                            <div class="ass_load_json_ti">
                                <span>电网频率</span>
                            </div>
                            <div class="ass_load_json_cont">
                                最高<span> {{ plyx.dwpl.zg }} </span>Hz
                                最低<span> {{ plyx.dwpl.zd }} </span>Hz
                            </div>
                        </div>
                        <div class="ass_load_json">
                            <div class="ass_load_json_ti">
                                <span>主变重载</span>
                            </div>
                            <div class="ass_load_json_cont">
                                <span> {{ plyx.zbcz.ta }} </span>台 <span> {{ plyx.zbcz.time }} </span>分钟
                            </div>
                        </div>
                        <div class="ass_load_json">
                            <div class="ass_load_json_ti">
                                <span>线路重载</span>
                            </div>
                            <div class="ass_load_json_cont">
                                <span> {{ plyx.xlcz.ta }} </span>条 <span> {{ plyx.xlcz.time }} </span>分钟
                            </div>
                        </div>
                        <div class="ass_load_json">
                            <div class="ass_load_json_ti">
                                <span>重要断面越限</span>
                            </div>
                            <div class="ass_load_json_cont">
                                <span> {{ plyx.zydmyx.ci }} </span>次 <span> {{ plyx.zydmyx.time }} </span>分钟
                            </div>
                        </div>
                    </p>
                </div>
            </div>
            <div class="weui-panel weui-panel_access">
                <div class="ass_ti">
                    <p class="ass_title">电压合格率展示</p>
                </div>
                <div class="weui-panel__bd">
                    <p class="ass_cont">
                        <div class="ass_load_json">
                            <div class="ass_load_json_ti">
                                <span>电压合格率 <i>{{ dyhg.dyhgl }}%</i> </span>
                            </div>
                            <div class="ass_load_json_cont ass_load_json_cent">
                                <div>
                                    发电厂<span> {{ dyhg.fdz }} </span>座<span> {{ dyhg.fdzl }}% </span>
                                </div>
                                <div>
                                    变电站<span> {{ dyhg.bdz }} </span>座<span> {{ dyhg.bdzl }}% </span>
                                </div>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
            <div class="weui-panel weui-panel_access">
                <div class="ass_ti">
                    <p class="ass_title">输电通道展示</p>
                </div>
                <div class="weui-panel__bd">
                    <p class="ass_cont">
                        <div id="load_pie" style="height: 170px;width: 100%;"></div>
                        <p class="ass_load_text">
                            全省发电设备累计平均利用小时数为 <span>{{ sdtd.fdText.lyxss }}</span> 小时，
                            同比减少 <span>{{ sdtd.fdText.lyxsstb }}</span> 小时。
                            其中，清洁能源发电设备平均利用小时为 <span>{{ sdtd.fdText.qjlyxs }}</span> 小时，
                            减少 <span>{{ sdtd.fdText.qjlyxsjs }}</span> 小时；
                            火电设备平均利用 <span>{{ sdtd.fdText.hd }}</span> 小时，
                            增加 <span>{{ sdtd.fdText.hdzj }}</span> 小时。
                        </p>
                    </p>
                </div>
            </div>
            <div class="weui-panel weui-panel_access">
                <div class="ass_ti">
                    <p class="ass_title">出力率展示</p>
                </div>
                <div class="weui-panel__bd">
                    <p class="ass_cont">
                        <p class="ass_load_text">
                            全省新能源装机最大出力 <span>{{ cll.zdcl }}</span> 万千瓦，
                            发电量 <span>{{ cll.fdl }}</span> 万千瓦。截止该日，
                            年度累计新能源发电量<span>{{ cll.xnyfdl }}亿</span> 千瓦时，
                            其中风电发电量 <span>{{ cll.fdfdl }}亿</span> 千瓦时，
                            光伏发电量 <span>{{ cll.gffdl }}亿</span> 千瓦时。
                        </p>
                        <div class="ass_load_json" v-for="(index, key) in cll.fdList" key="key">
                            <div class="ass_load_json_cont">
                                {{ index.name }}
                            </div>
                            <div class="ass_load_json_ti">
                                <span style="width: 50px;text-align: center;">
                                    {{ index.value }}%
                                    <i class="bott" v-if="index.state == '0'">↓</i>
                                    <i class="top" v-else>↑</i>
                                </span>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
            <div class="weui-panel weui-panel_access">
                <div class="ass_ti">
                    <p class="ass_title">新能源出力曲线</p>
                </div>
                <div class="weui-panel__bd">
                    <p class="ass_cont">
                        <div id="load_liefT" style="height: 280px;width: 100%;"></div>
                    </p>
                </div>
            </div>
            <div class="weui-panel weui-panel_access">
                <div class="ass_ti">
                    <p class="ass_title">承载力分析</p>
                </div>
                <div class="weui-panel__bd">
                    <p class="ass_cont">
                        <div id="load_lieBar" style="height: 280px;width: 100%;"></div>
                    </p>
                </div>
            </div>
            <div class="weui-panel weui-panel_access" style="padding-bottom: 20px;">
                <div class="ass_ti">
                    <p class="ass_title">检修计划执行情况展示</p>
                </div>
                <div class="weui-panel__bd">
                    <p class="ass_cont">
                        <div class="ass_cont_jinxiu displayFlex">
                            <div>
                                <i>当日检修</i>
                                <p><span>{{ jxjh.drjx }}</span>项</p>
                            </div>
                            <div>
                                <i>当年完成检修</i>
                                <p><span>{{ jxjh.drjxn }}</span>项</p>
                            </div>
                            <div>
                                <i>同比</i>
                                <p><span>{{ jxjh.drjxtb }}</span>%</p>
                            </div>
                        </div>
                        <div class="ass_cont_jinxiu displayFlex" style="margin-top: 10px;">
                            <div>
                                <i>当日操作</i>
                                <p><span>{{ jxjh.drcz }}</span>项</p>
                            </div>
                            <div>
                                <i>当年完成操作</i>
                                <p><span>{{ jxjh.drczn }}</span>项</p>
                            </div>
                            <div>
                                <i>同比</i>
                                <p><span>{{ jxjh.drcztb }}</span>%</p>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="../../static/webhfive/lib/echarts/echarts.min.js"></script>
    <script src="../../static/webhfive/news/lib/jquery-2.1.4.js"></script>
    <script src="../../static/iconfont/iconfont.js"></script>
    <script src="../../static/webhfive/news/js/jquery-weui.js"></script>
    <script src="../vue/vue.min.js"></script>
    <script src="../vue/eleStatistical.js"></script>
    <script src="../../static/webhfive/eleStatistical/js/dist/js/city-picker.min.js"></script>
    <script src="../../static/webhfive/eleStatistical/js/dist/lib/fastclick.js"></script>
    <script>
        var data = {
            fsyzzl: {
                "fasdl": "168128.11",
                "tbfasdl": "5.45",
                "dddl": "40898.13",
                "tbdddl": "17.1",
                "ddfdl": "128128.11",
                "tbddfdl": "1.98"
            },
            tdfhqx: {
                tdfhqxtu: {
                    xData: [
                        "00:00", "01:00", "02:00", "03:00", "04:00", "05:00", "06:00", "07:00", "08:00",
                        "09:00", "10:00",
                        "11:00", "12:00", "13:00", "14:00", "15:00", "16:00", "17:00", "18:00", "19:00",
                        "20:00", "21:00", "22:00", "23:00"
                    ],
                    data1: ["5929", "5632", "1233", "4456", "4456", "4456", "4456", "4456", "4456", "4456",
                        "5929", "5632", "1233", "4456", "4456", "4456", "4456", "4456", "4456", "4456",
                        "5929", "5632", "1233", "4456",
                    ],
                    data2: ["5929", "5632", "1233", "4456",
                        "5929", "5632", "1233", "4456", "4456", "4456", "4456", "4456", "4456", "4456",
                        "5929", "5632", "1233", "4456", "4456", "4456", "4456", "4456", "4456", "4456"
                    ],
                    "zgfsfh": "7654",
                    "zgfsfhtime": "14:20",
                    "tbzgfsfh": "3.98",
                    "zdfsfh": "7818.1",
                    "zdfsfhtime": "03:20",
                    "tbzdfsfh": "6.08"
                }
            },
            ydpm: {
                "pjyd": "14",
                "zg": "23",
                "zd": "-3",
                "top5": [{
                        "name": "宁北分区",
                        "value": "-2"
                    },
                    {
                        "name": "徐州西分区",
                        "value": "-2"
                    },
                    {
                        "name": "吴江分区",
                        "value": "2"
                    },
                    {
                        "name": "扬州分区",
                        "value": "3"
                    },
                    {
                        "name": "斗陆分区",
                        "value": "5"
                    }
                ]
            },
            AgcList: {
                "xData": ['系统下旋备用', '系统上旋备用', 'AGC下调节备用', 'AGC上调节备用'],
                "data1": ["18203", "23489", "29034", "104970"],
                "data2": ["19325", "23438", "31000", "121594"],
            },
            plyx: {
                dwpl: {
                    "zg": "50",
                    "zd": "49.9"
                },
                zbcz: {
                    "ta": "19",
                    "time": "10499"
                },
                xlcz: {
                    "ta": "1",
                    "time": "1"
                },
                zydmyx: {
                    "ci": "2",
                    "time": "188"
                }
            },
            dyhg: {
                "dyhgl": "99.96",
                "fdz": "19",
                "fdzl": "171.11",
                "bdz": "8",
                "bdzl": "-14.29",
            },
            sdtd: {
                pie: [{
                    name: '输电通道',
                    value: 29
                }, {
                    name: '主变',
                    value: 44
                }, {
                    name: '机组',
                    value: 89
                }],
                fdText: {
                    "lyxss": "4532",
                    "lyxsstb": "88",
                    "qjlyxs": "3399",
                    "qjlyxsjs": "273",
                    "hd": "5014",
                    "hdzj": "0"
                }
            },
            cll: {
                "zdcl": "631",
                "fdl": "6767",
                "xnyfdl": "134",
                "fdfdl": "86",
                "gffdl": "46",
                fdList: [{
                    "name": "光电",
                    "value": "49",
                    "state": "0"
                }, {
                    "name": "光伏",
                    "value": "89",
                    "state": "1"
                }, {
                    "name": "水电",
                    "value": "19",
                    "state": "0"
                }, {
                    "name": "核电",
                    "value": "9",
                    "state": "1"
                }, {
                    "name": "风电",
                    "value": "0",
                    "state": "1"
                }]
            },
            xnycl: {
                xData: [
                    "00:00", "01:00", "02:00", "03:00", "04:00", "05:00", "06:00", "07:00", "08:00",
                    "09:00", "10:00",
                    "11:00", "12:00", "13:00", "14:00", "15:00", "16:00", "17:00", "18:00", "19:00",
                    "20:00", "21:00", "22:00", "23:00"
                ],
                data1: ["592", "532", "133", "446", "56", "56", "456", "456", "445", "456",
                    "592", "563", "133", "456", "446", "456", "45", "446", "456", "456",
                    "592", "563", "123", "46",
                ],
                data2: ["592", "532", "133", "432", "456", "456", "456", "456", "445", "456",
                    "592", "563", "133", "456", "446", "456", "445", "46", "45", "456",
                    "592", "563", "123", "446",
                ],
                data3: ["592", "532", "133", "46", "456", "456", "456", "456", "44", "456",
                    "592", "563", "133", "456", "446", "456", "445", "446", "456", "456",
                    "592", "563", "123", "46",
                ],
            },
            czl: {
                xData: ['白班', "夜班", "中班"],
                data1: [115.0, 114.9, 7.0],
                data2: [15.0, 10, 3.3],
            },
            jxjh: {
                "drjx": "51",
                "drjxn": "4888",
                "drjxtb": "-5.1",
                "drcz": "899",
                "drczn": "109929",
                "drcztb": "-9",
            }
        }
        var vue = new Vue({
            el: "#app",
            data: data,
            mounted: function () {
                this.loadLief()
                this.loadLiefT()
                this.loadBar()
                this.loadHuPie()
                this.loadLieBar()
            },
            methods: {
                loadLief() {
                    var load_lief = document.getElementById("load_lief");
                    var myChart = echarts.init(load_lief);
                    var datalist = this.tdfhqx.tdfhqxtu
                    var colors = ['#83ad23', '#09ab93'];
                    option = {
                        xAxis: {
                            type: 'category',
                            data: datalist.xData
                        },
                        color: colors,
                        legend: {
                            data: ['当日', '同比']
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross'
                            }
                        },
                        grid: {
                            // 间距是 根据x、y轴计算的；假如都是0，x、y轴的label汉字就隐藏掉了。
                            top: 50, // 默认60
                            left: 50,
                            right: 50,
                            bottom: 24, // 默认60
                        },
                        yAxis: {
                            name: '万千瓦',
                            axisLine: {
                                show: true,
                            },
                            axisLabel: {
                                formatter: '{value}'
                            }
                        },
                        series: [{
                            name: "当日",
                            data: datalist.data1,
                            type: 'line',
                            smooth: true
                        }, {
                            name: "同比",
                            data: datalist.data2,
                            type: 'line',
                            smooth: true
                        }]
                    };
                    myChart.setOption(option);
                },
                loadLiefT() {
                    var load_liefT = document.getElementById("load_liefT");
                    var myChart = echarts.init(load_liefT);
                    var colors = ['#3db4dc', '#a0c951', '#f7c83a'];
                    var dataList = this.xnycl;
                    option = {
                        color: colors,
                        legend: {
                            data: ['风电', '光伏', '火电及其他']
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross'
                            }
                        },
                        grid: {
                            // 间距是 根据x、y轴计算的；假如都是0，x、y轴的label汉字就隐藏掉了。
                            top: 50, // 默认60
                            left: 50,
                            right: 50,
                            bottom: 24, // 默认60
                        },
                        xAxis: [{
                            type: 'category',
                            axisTick: {
                                alignWithLabel: true
                            },
                            data: dataList.xData
                        }],
                        yAxis: [{
                                type: 'value',
                                name: '万千瓦',
                                position: 'right',
                                axisLine: {
                                    show: true,
                                },
                                axisLabel: {
                                    formatter: '{value}'
                                }
                            },
                            {
                                type: 'value',
                                name: '万千瓦',
                                position: 'left',
                                axisLine: {
                                    show: true,
                                },
                                axisLabel: {
                                    formatter: '{value}'
                                }
                            }
                        ],
                        series: [{
                                name: '风电',
                                type: 'line',
                                data: dataList.data1
                            },
                            {
                                name: '光伏',
                                type: 'line',
                                yAxisIndex: 1,
                                data: dataList.data2
                            },
                            {
                                name: '火电及其他',
                                type: 'line',
                                yAxisIndex: 1,
                                data: dataList.data3
                            }
                        ]
                    };
                    myChart.setOption(option);
                },
                loadBar() {
                    var load_bar = document.getElementById("load_bar");
                    var myChart = echarts.init(load_bar);
                    var dataList = this.AgcList
                    option = {
                        title: {
                            text: '系统备用情况',
                            x: 'center'
                        },
                        grid: {
                            // 间距是 根据x、y轴计算的；假如都是0，x、y轴的label汉字就隐藏掉了。
                            top: 40, // 默认60
                            left: 100,
                            right: 50,
                            bottom: 24, // 默认60
                        },
                        xAxis: {
                            type: 'value',
                            boundaryGap: [0, 0.01],
                            show: false,
                        },
                        yAxis: {
                            type: 'category',
                            data: dataList.xData
                        },
                        series: [{
                                name: '2011年',
                                type: 'bar',
                                itemStyle: {
                                    normal: {
                                        barBorderRadius: 30,
                                        color: '#3cc51f'
                                    },
                                },
                                label: {
                                    show: true,
                                    position: 'right',
                                },
                                data: dataList.data1
                            },
                            {
                                name: '2012年',
                                type: 'bar',
                                label: {
                                    show: true,
                                    position: 'right',
                                },
                                itemStyle: {
                                    normal: {
                                        barBorderRadius: 30,
                                        color: 'rgba(24,31,68,.7)',
                                    },
                                },
                                data: dataList.data2
                            }
                        ]
                    };
                    myChart.setOption(option);
                },
                loadHuPie() {
                    var load_pie = document.getElementById("load_pie");
                    var myChart = echarts.init(load_pie);
                    var data = this.sdtd.pie
                    var titleArr = [],
                        seriesArr = [];
                    var sCenter, TitleXy = {};
                    var colors = [
                        ['#98dd73', '#eff8f7'],
                        ['#6fec6e', '#eff8f7'],
                        ['#79e6c6', '#eff8f7']
                    ]
                    data.forEach(function (item, index) {
                        sCenter = [index * 35 + 15 + '%', '30%']
                        TitleXy = {
                            left: index * 35 + 15 + '%',
                            top: '70%'
                        }
                        titleArr.push({
                            text: item.name,
                            left: TitleXy.left,
                            top: TitleXy.top,
                            textAlign: 'center',
                            textStyle: {
                                fontWeight: 'bold',
                                fontSize: '12',
                                color: "#333",
                                textAlign: 'center',
                            },
                        });
                        seriesArr.push({
                            name: item.name,
                            type: 'pie',
                            clockWise: false,
                            radius: [40, 50],
                            itemStyle: {
                                normal: {
                                    color: colors[index][0],
                                    shadowColor: colors[index][0],
                                    shadowBlur: 0,
                                    label: {
                                        show: false
                                    },
                                    labelLine: {
                                        show: false
                                    },
                                }
                            },
                            hoverAnimation: false,
                            center: sCenter,
                            data: [{
                                value: item.value,
                                label: {
                                    normal: {
                                        formatter: function (params) {
                                            return params.value + '%';
                                        },
                                        position: 'center',
                                        show: true,
                                        textStyle: {
                                            fontSize: '14',
                                            fontWeight: 'bold',
                                            color: "#333"
                                        }
                                    }
                                },
                            }, {
                                value: 100 - item.value,
                                name: 'invisible',
                                itemStyle: {
                                    normal: {
                                        color: colors[index][1]
                                    },
                                    emphasis: {
                                        color: colors[index][1]
                                    }
                                }
                            }]
                        })
                    });
                    option = {
                        backgroundColor: "#fff",
                        title: titleArr,
                        series: seriesArr
                    }
                    myChart.setOption(option);
                },
                loadLieBar() {
                    var load_lieBar = document.getElementById("load_lieBar");
                    var myChart = echarts.init(load_lieBar);
                    var colors = ['#fbd16f', '#09ad94'];
                    var dataList = this.czl
                    option = {
                        color: colors,
                        title: {
                            text: '承载力分析',
                            x: 'center'
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross'
                            }
                        },
                        grid: {
                            // 间距是 根据x、y轴计算的；假如都是0，x、y轴的label汉字就隐藏掉了。
                            top: 50, // 默认60
                            left: 50,
                            right: 50,
                            bottom: 24, // 默认60
                        },
                        xAxis: [{
                            type: 'category',
                            axisTick: {
                                alignWithLabel: true
                            },
                            data: dataList.xData
                        }],
                        yAxis: [{
                                type: 'value',
                                name: '%',
                                position: 'right',
                                axisLine: {
                                    show: true,
                                    lineStyle: {
                                        color: colors[0]
                                    }
                                },
                                axisLabel: {
                                    formatter: '{value}'
                                }
                            },
                            {
                                type: 'value',
                                name: '%',
                                position: 'left',
                                axisLine: {
                                    show: true,
                                    lineStyle: {
                                        color: colors[1]
                                    }
                                },
                                axisLabel: {
                                    formatter: '{value}'
                                }
                            }
                        ],
                        series: [{
                                name: '班次',
                                type: 'line',
                                data: dataList.data1
                            },
                            {
                                name: '承载力',
                                type: 'bar',
                                yAxisIndex: 1,
                                data: dataList.data2
                            }
                        ]
                    };
                    myChart.setOption(option);
                }
            }
        });
    </script>
</body>

</html>