* {
	font-size: 0.85rem;
	font-style:normal;
}
.displayFlex{
	display: flex;
}
.ass_ti{
	padding: 0.4rem;
}
.ass_title{
	border-left: 4px solid #3cc51f;
	font-size: 16px;
	padding-left: 10px;
	font-weight: 600;
}
.ass_cont{
	padding: 0.4rem;
	padding-top: 0px;
	font-size: 14px;
}
.weui-media-box {
	padding: 0.4rem 0.48rem;
}
.ass_load_text{
	padding: 0.4rem;
	font-size: 14px;
}
.ass_load_json{
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
}
.ass_load_json_ti span{
	display: inline-block;
	background-color: #6bcfad;
	padding: 2px 5px;
	border-radius: 5px;
	color: #ffffff;
	font-size: 14px;
}
.ass_load_json_ti i{
	font-style:normal;
	color: #ffffff;
	font-size: 14px;
}
.ass_load_json_cont{
	font-size: 14px;
}
.ass_load_json_cont span{
	font-size: 18px;
}
.ass_load_json_cent div{
	text-align: right;
	font-size: 14px;
}
.ass_load_json_cent div span{
	font-size: 18px;
}
.bott{
	color: #2da8d0 !important;
}
.top{
	color: #f1a80e !important;
}
.ass_cont_jinxiu{
	justify-content: space-around;
}
.ass_cont_jinxiu div{
	color: #7d8587;
}
.ass_cont_jinxiu div p{
	margin-top: 5px;
}
.ass_cont_jinxiu div i{
	font-size: 14px;
}
.ass_cont_jinxiu div p{
	font-size: 14px;
}
.ass_cont_jinxiu div p span{
	display: inline-block;
	border-radius: 3px;
	background-color: #6bcfad;
	padding: 2px 5px;
	text-align: center;
	color: #ffffff;
	font-size: 16px;
	width: 60px;
	margin-right: 5px;
}

@media only screen and (min-width: 481px) {
	.back {
		margin-top: 0.1%;
	}
}
